.revTitle{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 3rem;
    /* text-transform: capitalize; */
    margin: 0;
    padding: 0;
   
}

.revhead,.dethead{
    font-family: "Poppins";
    font-weight: 900;
    font-size: 2.7rem;
    /* text-transform: capitalize; */
    line-height: 1.3;
}
.revdusc,.detdusc{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 1.4rem;
    /* text-transform: capitalize; */
}
.revtitle_3{
    font-size: 3.3rem;
}
.revhead_3{
    font-size: 3.5rem;
}
.revdusc_3{
    font-size: 1.4rem;
}
.optiTitle{
    color: white;
    font-family: "Poppins";
    font-weight: 200;
    /* font-size: 2rem; */
}
.optihead{
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 2rem;
}
.optidusc,.optisecTitle{
    color:rgb(208 203 203);
    font-family: "Poppins";
    font-weight: 200;
    font-size: 1.2rem;
}
.optisecTitle{
    font-size: 1.8rem;
    font-family: "Poppins";
}
.optisecTitle span{
    color: white;
    
}
.detTitle{
    font-family: "Poppins";
    font-weight: 200;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  
}
.dethead{
    margin: 0;
    padding: 0;
}

.dashhead{
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 200;
}
.dashhead span{

    font-weight: 700;
}
.dashTitl{
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 200;
    /* text-align: start; */
}
@media (max-width:450px){
    .revTitle,.detTitle{
font-size: 2rem;
    }
    .revhead,.dethead{
        font-size: 1.8rem;
    }
    .revdusc,.detdusc{
        font-size: 1rem;
    }
    .w_revdusc{
        width: 100% !important;
    }
    /* .rev3_box{
        height: 30vh;
        overflow: hidden;
    } */
    /* .rev3_box .rev3_box_img{
        height: 100%;
       
    } */
    /* .rev3_box .revTitle{
        font-size: 1rem;
    }
    .rev3_box .revhead{
        font-size: 1.5rem;
    } */
    .rev3_box .revdusc{
      font-size: .8rem;
        max-width: 55% !important;
    }
    .imgRev{
        width: 100%;
        height: 45vh;
    }
    .imgRev_text{
        margin-top: -45vh !important;
  
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .imgopti{
        width: 100%;
    }
}
@media (min-width:451px) and (max-width:990px){
    .w_revdusc{
        width: 100% !important;
    }
    .imgRev{
        width: 100%;
        height: 50vh;
    }
    .rev3_box .revdusc{
     
        max-width: 70% !important;
    }
    .imgRev_text{
        margin-top: -53vh !important;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}
@media (min-width:1300px){
    .dashhead{
      
        font-size: 3.2rem;
    }
    .dashTitl{
        font-size: 1.2rem;
        font-weight: 200;
    }
    .optiTitle{
        font-size: 2.5rem;
        letter-spacing: 3px;
    }
    .optihead{
        font-weight: 500;
        font-size: 3rem;
        /* 3.5rem; */
       
    }
    .optidusc,.optisecTitle{
      
        font-weight: 200;
        font-size: 1.4rem;
    }
    .optisecTitle{
        font-size: 2.3rem;
       
    }
  
}
